body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  font-size: 2rem;
  font-weight: bold;
}
.move-icon {
  max-height: 60px;
  max-width: 60px;
}
.move-button {
  background-color: transparent;
  border-color: white;
  border: 3px solid white;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.js-result {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-top: 40px;
}
.score {
  margin-top: 50px;
}
.reset-score-btn,
.auto-play-btn {
  background-color: white;
  padding: 0.7rem;
  border: none;
  cursor: pointer;
}
